<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4cards</title>
  </head>
  <body>
    <div class="container">
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commododfadfdsfasdfasdfsadf tempor. Vivamus eleifend, sem nec
        cursus ullamcorper, sapien urna egestas lorem,
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamusdsfdasfasdfsdafasdfsadfasfas eleifend,
        sem nec cursus ullamcorper, sapien urna egestas lorem, sit amet semper est arcu vitae erat.
        Ut porttitor luctus laoreet. Integer cursus, elit viverra consectetur ornare, mauris orci
        tempus leo, a tempor sem erat ac eros. Nam nec nunc massa. Nulla sed tincidunt sem. Sed
        molestie congue risus, non condimentum leo suscipit quis. Aliquam in nibh rhoncus, volutpat
        lacus eget, hendrerit urna. Integer sit amet augue elit. Etiam ut sem lobortis, imperdiet
        massa id, lobortis lectus. Maecenas lorem ex, finibus nec mi at, auctor ornare nibh. Donec
        id tristique purus, ac luctus ligula.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem,
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem, sit amet semper est arcu vitae erat. Ut porttitor luctus laoreet.
        Integer cursus, elit viverra consectetur ornare, mauris orci tempus leo, a tempor sem erat
        ac eros. Nam nec nunc massa. Nulla sed tincidunt sem. Sed molestie congue risus, non
        condimentum leo suscipit quis. Aliquam in nibh rhoncus, volutpat lacus eget, hendrerit urna.
        Integer sit amet augue elit. Etiam ut sem lobortis, imperdiet massa id, lobortis lectus.
        Maecenas lorem ex, finibus nec mi at, auctor ornare nibh. Donec id tristique purus, ac
        luctus ligula.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem,
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem, sit amet semper est arcu vitae erat. Ut porttitor luctus laoreet.
        Integer cursus, elit viverra consectetur ornare, mauris orci tempus leo, a tempor sem erat
        ac eros. Nam nec nunc massa. Nulla sed tincidunt sem. Sed molestie congue risus, non
        condimentum leo suscipit quis. Aliquam in nibh rhoncus, volutpat lacus eget, hendrerit urna.
        Integer sit amet augue elit. Etiam ut sem lobortis, imperdiet massa id, lobortis lectus.
        Maecenas lorem ex, finibus nec mi at, auctor ornare nibh. Donec id tristique purus, ac
        luctus ligula.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem,
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem, sit amet semper est arcu vitae erat. Ut porttitor luctus laoreet.
        Integer cursus, elit viverra consectetur ornare, mauris orci tempus leo, a tempor sem erat
        ac eros. Nam nec nunc massa. Nulla sed tincidunt sem. Sed molestie congue risus, non
        condimentum leo suscipit quis. Aliquam in nibh rhoncus, volutpat lacus eget, hendrerit urna.
        Integer sit amet augue elit. Etiam ut sem lobortis, imperdiet massa id, lobortis lectus.
        Maecenas lorem ex, finibus nec mi at, auctor ornare nibh. Donec id tristique purus, ac
        luctus ligula.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem,
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum leo sit amet nulla
        dapibus consectetur. Nulla velit odio, tincidunt vitae feugiat ac, imperdiet in eros.
        Integer fringilla mauris quis commodo tempor. Vivamus eleifend, sem nec cursus ullamcorper,
        sapien urna egestas lorem, sit amet semper est arcu vitae erat. Ut porttitor luctus laoreet.
        Integer cursus, elit viverra consectetur ornare, mauris orci tempus leo, a tempor sem erat
        ac eros. Nam nec nunc massa. Nulla sed tincidunt sem. Sed molestie congue risus, non
        condimentum leo suscipit quis. Aliquam in nibh rhoncus, volutpat lacus eget, hendrerit urna.
        Integer sit amet augue elit. Etiam ut sem lobortis, imperdiet massa id, lobortis lectus.
        Maecenas lorem ex, finibus nec mi at, auctor ornare nibh. Donec id tristique purus, ac
        luctus ligula.
      </div>
    </div>
  </body>
</html>
